.side-bar
  .side-bar__user-name
    .top-items
      .top-items__names
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons-edit" do
          = icon('fas', 'edit')
        = link_to "#", class: "top-items__icons-cog" do
          = icon('fas', 'cog')
  .side-bar__group
    ②サイドバーグループリスト
    .side-bar__group-list
      .side-bar__group-list__name
        リストネーム
      .side-bar__group-list__message
        チャットメッセージ
    .side-bar__group-list
      .side-bar__group-list__name
        リストネーム
      .side-bar__group-list__message
        チャットメッセージ