
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  .side-bar {
    &__user-name {
      background-color: #253141;
      height: 100px;
      width: 300px;
      display: flex;
      align-items: center;
      padding: 0 20px;
        .top-items {
          height: 20px;
          width: 260px;
          display: flex;
          justify-content: space-between;
          &__names {
            color: $section-color;
            font-weight: $section-font-weight;
            font-size: 16px;
          }
          &__icons {
              display: flex;
              justify-content: right;
              text-decoration: none;
              .fas {
                color: $section-color;
                margin-left: 5px;
              }
          }
        }
    }
    .side-bar__group {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;
      &__list {
        margin-bottom: 40px;
        color: $section-color;
        font-weight: $section-font-weight;
        a{
          color: $section-color;
          text-decoration: none;
        }
        &__name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message {
          font-size: 11px;
        }
      }
    }
  }

  .chat-main {
    &__group-info {
      background-color: $section-color;
      width: calc(100vw - 299px);
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      &__name {
        &__name-list {
          &__group {
            color: #333333;
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 35px;
          }
          &__title {
            font-size: 12px;
            color: #999999;
          }
          
        }
      }
      &__edit {
        border: solid 1px #38aef0;
        padding: 0 20px;
        height: 40px;
        margin-bottom: 28px;
        margin-top: 30px;
        line-height: 40px;
        &--btn {
          text-decoration: none;
          color: #38aef0;
        }
      }
    }
    &__message-list{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 46px 40px;
      overflow: scroll;
      &__all {
        padding-bottom: 40px;
        &__status {
          margin-bottom: 12px;
          display: flex;
          &__member {
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__message {
          color: #333333;
          font-size: 14px;
        }
      }
    }
    &__message-form{
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;
      &__text {
        width: 100%;
        position: relative;
        .form__message {
          float: left;
          line-height: 50px;
          padding-left: 10px;
          width: calc(100% - 150px);
          border: none;
          position: relative;
        }
        .input-box__image {
          float: left;
          margin-right: 10px;
          // position: absolute;
          // top: 10px;
          right: 10px;
          // font-size: 20px;
          padding-right: 10px;
          line-height: 50px;
          height: 50px;
          background-color: white;
          .far {

          }
          #image {
            display: none;
          }
          .hidden {
            display: none;
          }
        }
        .form__submit {
          float: right;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: $section-color;
          line-height: 50px;
        }
      }
    }
  }
}